@use "base/mixins" as m;
@use "base/variables" as v;

.confirmar {
    margin-top: 5rem;
    .uptask {
        @include m.textoDegradado(v.$azul, v.$naranja);
    }
    .acciones{
        a{
            color: v.$azul;
        }
    }
    
}
