@use "base/mixins" as m;
@use "base/variables" as v;

.crear {
    margin-top: 5rem;

    .uptask {
        @include m.textoDegradado(v.$indigo, v.$azul);
    }

    input[type="submit"]{
        @include m.boton(v.$indigo, v.$blanco);
    }
    .acciones{
        a{
            color: v.$indigo;
        }
    }
}
