@use "base/mixins" as m;
@use "base/variables" as v;

.login{
    margin-top: 5rem;
    .uptask{
        background: linear-gradient(to right, v.$cyan 0%, lighten(v.$morado, 10%) 100%);
        color: transparent;
        background-clip: text;
        font-size: 7rem;
        text-align: center;

        @include m.tablet { 
            font-size: 10rem;
        }
    }

    input[type="submit"]{
        @include m.boton(v.$cyan, v.$blanco);
    }
    .acciones{
        a{
            color: lighten(v.$morado, 10%);
        }
    }
}