@use "base/mixins" as m;
@use "base/variables" as v;

.reestablecer {
    margin-top: 5rem;

    .uptask {
        @include m.textoDegradado(v.$naranja, v.$rosa);
    }

    input[type="submit"]{
        @include m.boton(v.$naranja, v.$blanco);
    }
    .acciones{
        a{
            color: v.$naranja;
        }
    }
}
