@use "base/mixins" as m;
@use "base/variables" as v;

.modal{
    position: absolute;
    background-color: rgb( 0 0 0 / .7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .formulario{
        max-width: 60rem;
        background-color: v.$blanco;
        padding: 2rem;
        margin: 0 auto;
        transform: translateY(-30rem);
        transition: all .5s ease-in-out;
        opacity: 0;
        border-radius: 1rem;

        legend{
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            display: block;
        }

        input[type="text"]{
            border: 1px solid v.$gris;
            border-radius: .5rem;
        }
        
        .opciones{
            display: flex;
            justify-content: space-between;
            
        }

        .submit-nueva-tarea{
            @include m.boton(v.$indigo, v.$blanco);
            display: inline-block;
            font-size: 1.4rem
        }

        .cerrar-modal{
            @include m.boton(v.$naranja, v.$blanco);
            display: inline-block;
            font-size: 1.4rem
        }

        &.animar{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }

        &.cerrar{
            transform: translateY(-200%);
            opacity: 0;
        }
    }
}