@use "base/mixins" as m;
@use "base/variables" as v;

.sidebar{
    opacity: 0;
    background-color: v.$indigo;
    height: 0;
    overflow: hidden;
    transition: opacity .5s ease-in-out, height .5s ease-in-out;

    &.mostrar {
        opacity: 1;
        padding: 2rem;
        height: 100vh;
        position: absolute;
        inset: 0;
        background-color: rgb(0 0 0 /.95);
    }

    &.ocultar {
        opacity: 0;
        height: 0;
    }

    @include m.tablet {
        height: 100%;
        opacity: 1;
        padding: 2rem;
        background-color: v.$indigo;
        position: relative;
        display: block; 
    }

    .contenedor-sidebar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .cerrar-menu{
            display: flex;
            justify-content: center;
            height: 2rem;
            width: 2rem;
            @include m.tablet { 
                display: none;
            }
            img{
                &:hover{
                    cursor: pointer;
                }
            }
        }
        h2{
            color: v.$blanco;
            margin: 0;
        }

    }

    .sidebar-nav{
        margin-top: 5rem;

        a{
            color: v.$blanco;
            display: block;
            padding: 2rem;
            transition: all .3s ease-in-out;
            font-weight: bold;
            margin-bottom: 2rem;
            font-size: 2rem;
            &:hover,
            &.activo{
                background-color: darken(v.$indigo, 20%);
                border-radius: .5rem;
            }

            @include m.tablet { 
                font-size: 1.8rem;
                margin-bottom: .5rem;
            }
        }
    }

    .cerrar-sesion-mobile{
        margin-top: 10rem;
        .cerrar-sesion{
            @include m.boton(v.$indigo, v.$blanco);
            font-size: 1.4rem;
            padding: 1rem;
            border-radius: .5rem;
        }
        @include m.tablet { 
            display: none;
        }

    }
}