@use "base/mixins" as m;
@use "base/variables" as v;

.sidebar{
    background-color: v.$indigo;
    padding: 2rem;

    h2{
        color: v.$blanco;
        margin: 0;
    }

    .sidebar-nav{
        margin-top: 5rem;

        a{
            color: v.$blanco;
            display: block;
            padding: 2rem;
            transition: all .3s ease-in-out;
            font-weight: bold;
            &:hover{
                background-color: darken(v.$indigo, 20%);
                border-radius: 1rem;
            }
        }
    }
}