@use "base/mixins" as m;
@use "base/variables" as v;

.contenedor-nueva-tarea{
    display: flex;
    justify-content: center;

    .agregar-tarea{
        @include m.boton(v.$rosa, v.$blanco);
    }
}